/* Toggle Wrapper */
.toggleWrapper {
    -fx-alignment: center;
    -fx-padding: 0 10;
}

/* Toggle Track (Background) */
.toggle {
    -fx-background-color: #83d8ff;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 3, 0, 0, 1);
}

/* Labels AM/PM */
.toggle-text-am {
    -fx-font-size: 8px;
    -fx-text-fill: #749ed7;
    -fx-font-weight: bold;
}

.toggle-text-pm {
    -fx-font-size: 8px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-opacity: 0.5;
    /* Dimmed by default */
}

/* Handler (Sun/Moon Thumb) */
.toggle__handler {
    -fx-background-color: #ffcf96;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 0, 0, 1);
}

/* Craters (on Moon) */
.crater {
    -fx-fill: #e8cda5;
}

/* Stars */
.star {
    -fx-fill: white;
    -fx-opacity: 0;
    /* Hidden by default in Day mode */
}